.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin-top: 5px;
}

.search-bar{
  margin-top: 20px;
}

.loading {
  font-size: 30px;
  margin-top: 40px;
  color:yellow;
}

.loading-error {
  font-size: 30px;
  margin-top: 40px;
  color: red;
}

.graph-icon {
  color: rgb(36, 139, 207);
  margin-top: 2px;
}

.top-stock {
  border-radius: 5px;
}

.lista-trovati {
  margin-top: 40px;
}

.stock-preferiti {
  margin-top: 10px;
}